extend layout
block content
  .modal.fade#add-participant-group
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4= __("Add Participant Group")
        .modal-body
          form
            .form-group
              label.control-label(for='pg-name') Group Name
              input.form-control#pg-name(name='name' type='text' required)
            .form-group
              label.control-label(for='pg-flags') Flags 
                small (space delimited)
              input.form-control#pg-flags(name='flags' type='text')
            .form-group
              label.control-label(for='pg-participants') Emails 
                small (newline delimited)
              input.form-control#pg-participants(name='emails' type='file' required)
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal')= __("Close")
          | 
          button.btn.btn-success#pg-insert-btn(type='button')= __("Insert")
    
  .page-header
    h1= __("All Participant Groups")

  .well
    a.btn.btn-primary(data-toggle="modal" data-target="#add-participant-group")= __("Add Participant Group")
  table.table.participants
    thead
      tr
        th= __("Group")
        th= __("Participants")
        th= __("Actions")
    tbody
      each p in participants
        tr
          td
            a(href='/admin/participant/#{p._id}')= p.name
          td= p.emails.length
          td
            btn.btn.btn-danger= __("Remove group")
  script.
    $('#pg-insert-btn').on('click', function() {
      // TODO: make this insert
    });
