extend layout
block content
  .page-header
    h1= title
  table.table.polls
    thead
      tr
        th= __("Title")
        th= __("Participants")
        th= __("Start Time")
        th= __("End Time")
    tbody
      each poll in polls
        tr
          td
            a(href="/admin/poll/" + poll.slug)= poll.title
          td
            ul
              each p in poll.participantGroups
                li= p
          td= poll.startTime
          td= poll.endTime
