extend layout
block content
  .page-header
    h1
      = poll.title 
      small  (#{poll.slug})
    if poll.isPublic
      .label.label-success= __("Public")
  .well
    a.btn.btn-primary(href='/admin/poll/' + poll.slug + '/test')
      = __("Test Ballot")
    | 
    a.btn.btn-primary(href="/admin/poll/" + poll.slug + '/ballots')
      = __("Ballots")
    | 
    a.btn.btn-primary(href='/admin/poll/' + poll.slug + '/results')
      = __("Results")
    | 
    form(method='delete' style='display: inline')
      button.btn.btn-danger Delete poll
  .row
    .col-md-6
      p
        strong
          = __("Start")
          | : 
      p
        time(datetime="#{poll.startTime.toISOString()}")= poll.startTime
      p
        strong
          = __("End")
          | : 
      p
        time(datetime="#{poll.endTime.toISOString()}")= poll.endTime
      div
        strong
          = __("Content")
          | :
        pre !{JSON.stringify(poll.content, null, 2)}
      div
        strong
          = __("Theme")
          | :
        span= poll.theme
    .col-md-6
      div
        strong
          = __("Participant Groups")
          | :
        ul
          each participant in poll.participantGroups
            li= participant
      div
        p
          strong= __("Email")
        p
          = __("From")
          | : 
          em= poll.email.from
        p
          = __("Subject")
          | : 
          em= poll.email.subject
        pre= poll.email.content
        p
          strong
            = __("Emails sent")
            | : 
          | #{poll.emailsSent.length}
