doctype html
html(lang="en")
  head
    title= pageTitle
    base(target="_blank")
    meta(charset="utf-8")
    <!--[if lt IE 10]>
    <script src="/static/js/es5-shim.min.js"></script>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/style.css", rel="stylesheet")
  body
    .container
      .row
        .col-md-12
          .div
            div.aside.privacy.alert.alert-success.pull-right
              | This form is hosted on a server in 
              a(rel='nofollow', href="http://digitalocean.com").
                the Netherlands
              | , and is being accessed over a secure SSL link.
            h1
              a.logo(href="http://pirateparty.org.au")
                div
                  span.logo-bold-blue pirate
                  | party
                div.logo-australia= title
          
          hr
          
          if message
            .div.alert.alert-danger= message

          .div.alert.alert-info
            p
              strong= __("Your ballot has been received by the voting server.")
              | 
              = __("Thank you for taking part in this poll!")
            p= __("You may now close this window.")

          hr

          .div.alert.alert-info
            p
              strong= __("For the more technically inclined users:")
            p= __("Below is your ballot as the server received it, rendered in JSON.")

          pre.ballot.
            !{JSON.stringify(ballot, null, 2)}

    footer.powered-by-oyster
      = __("Powered by")
      a(rel='nofollow', href="https://bbqsrc.github.io/oyster")  Oyster
      | .
