extend layout
block content
  .page-header
    .pull-right
      .btn-group
        button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' )
          span.caret
        ul.dropdown-menu
          li
            a(href='/admin/poll/' + poll.slug + '/test')
              = __("Test Ballot")
          li  
            a(href="/admin/poll/" + poll.slug + '/ballots')
              = __("Ballots")
          li  
            a(href='/admin/poll/' + poll.slug + '/results')
              = __("Results")
          li.divider(role="separator")
          li
            a(href='#') Delete poll
    h1
      = poll.title 
      small  (#{poll.slug})
      
  .row
    .col-md-4.col-overview
      h2 Overview
      
      table.table
        tr
          th= __("Status")
          td
            if poll.results
              p.label.label-success= __("Finished")
            else if +poll.startTime < Date.now()
              p.label.label-warning= __("Running")
            else
              p.label.label-info= __("Scheduled")
        tr 
          th= __("Visibility")
          td
            if poll.isPublic
              p.label.label-success= __("Public")
            else
              p.label.label-warning= __("Private")
        tr 
          th= __("Start")
          td
            time(title="#{poll.startTime.toISOString()}" datetime="#{poll.startTime.toISOString()}")= moment(poll.startTime).format('llll Z')
        tr
          th= __("End")
          td
            time(title="#{poll.endTime.toISOString()}" datetime="#{poll.endTime.toISOString()}")= moment(poll.endTime).format('llll Z')
        tr
          th= __("Emails sent")
          td= poll.emailsSent.length
  
    .col-md-4.col-controls
      h2 Settings
      
      table.table
        tr 
          th= __("Make public?")
          td
            input(type='checkbox')
        tr 
          th= __("Test ballot requires authentication?")
          td
            input(type='checkbox')
              
    .col-md-4.col-participants
      h2 Participants
      div
        table.table
          each participant in poll.participantGroups
            tr
              td= participant
  .row
    .col-md-6.col-email
      header
        .pull-right
          button.btn.btn-default(type='button') Edit
        h2 Email
      div.well.well-sm
        strong
          = __("From")
          | : 
        = poll.email.from
        br
        strong
          = __("Subject")
          | : 
        = poll.email.subject
      pre= poll.email.content
          
    .col-md-6.col-ballot
      header
        .pull-right
          button.btn.btn-default(type='button') Edit
        h2 Ballot
      p
        strong
          = __("Theme")
          | : 
        span= poll.theme || '[no theme defined!]'
      div
        pre(style='max-height: 36em')= poll.contentAsTOML()
      
      
