//-
  Oyster, a free voting system.
  Copyright © 2015  Brendan Molloy <brendan@bbqsrc.net>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
extend layout
block content
  .page-header
    h1= translate("password.title")
  
  if error
    .alert.alert-danger= error
  if success
    .alert.alert-success= success
  
  form.form-horizontal(method='post')
    .form-group
      label.control-label.col-sm-2(for='curr-password')= translate("password.current")
      .col-sm-10
        input.form-control(type='password' id='curr-password' name='currPassword')
    .form-group
      label.control-label.col-sm-2(for='password')= translate("password.new")
      .col-sm-10
        input.form-control(type='password' id='password' name='password')
    .form-group
      label.control-label.col-sm-2(for='password2')= translate("password.again")
      .col-sm-10
        input.form-control(type='password' id='password2' name='password2')
    button.col-sm-offset-2.btn.btn-primary(type='submit')= translate("update")
