extend layout
block content
  .modal.fade#add-participant-group
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4= __("Add Participant Group")
        .modal-body
          form
            .form-group
              label.control-label(for='pg-name') Group Name
              input.form-control#pg-name(name='name' type='text' required)
            .form-group
              label.control-label(for='pg-flags') Flags 
                small (space delimited)
              input.form-control#pg-flags(name='flags' type='text')
            .form-group
              label.control-label(for='pg-participants') Emails 
                small (newline delimited)
              input.form-control#pg-participants(name='emails' type='file' required)
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal')= __("Close")
          | 
          button.btn.btn-success#pg-insert-btn(type='button')= __("Insert")
    
  .page-header
    h1= __("All Participant Groups")

  .well
    a.btn.btn-primary(data-toggle="modal" data-target="#add-participant-group")= __("Add Participant Group")
  table.table.participants
    thead
      tr
        th= __("Group")
        th= __("Participants")
        th= __("Flags")
        th= __("Actions")
    tbody
      each p in participants
        tr(data-id="#{p._id}")
          td
            a(href='/admin/participant/#{p._id}')= p.name
          td= p.participants.length
          td
            each flag in p.flags
              span.label.label-info.label-sm= flag
              | 
          td
            btn.btn.btn-xs.btn-danger.delete-group-btn= __("Remove group")
  script.
    $('#pg-insert-btn').on('click', function() {
      var self = this;
      
      $(this).attr('disabled', true);
    
      var data = new FormData();
      
      data.append('name', $('#pg-name').val());
      data.append('flags', $('#pg-flags').val());
      data.append('participants', $("#pg-participants")[0].files[0]);
      
      $.ajax({
        type: 'post',
        url: location.href,
        data: data,
        processData: false,
        contentType: false
      }).success(function() {
        location.reload();
      }).error(function(res, _, msg) {
        if (res.status === 409) {
          alert(res.responseJSON.length + " duplicate emails detected.\n\n" 
              + JSON.stringify(res.responseJSON.emails, null, 2))
        } else {
          alert(res.response);
        }
        $(self).removeAttr('disabled');
      });
    });
    
    $('.delete-group-btn').on('click', function() {
      var id = $(this).closest('[data-id]').attr('data-id');
      
      var choice = window.confirm('Are you sure you want to remove this row?');
      
      if (!choice) {
        return;
      }
      
      $.ajax({
        type: 'delete',
        url: '/admin/participant/' + id
      }).success(function() {
        location.reload();
      }).error(function(err, msg) {
        alert(msg);
      })
    });
