//-
  Oyster, a free voting system.
  Copyright © 2015  Brendan Molloy <brendan@bbqsrc.net>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
extend layout
include partials/modal

block content
  +modal('Update role', 'Update')(id='update-role')
    form.form-horizontal
      .form-group
        label.control-label.col-sm-2(for='c-role')= translate('user.role')
        .col-sm-10
          select.form-control#c-role
            option(value='admin') Admin
            option(value='superadmin') Superadmin
            
  +dangerModal('Remove user', 'Delete')(id='remove-user')
    p
      | Are you sure you want to remove the user '
      span#c-username
      | '?
  
  +modal('New user', 'Create')(id='create-user')
    form.form-horizontal
      .form-group
        label.control-label.col-sm-2(for='cu-username')= translate('user.username')
        .col-sm-10
          input.form-control#cu-username
      .form-group
        label.control-label.col-sm-2(for='cu-password')= translate('user.password')
        .col-sm-10
          input.form-control#cu-password(type='password')
      .form-group
        label.control-label.col-sm-2(for='cu-role')= translate('user.role')
        .col-sm-10
          select.form-control#cu-role
            option(value='admin') Admin
            option(value='superadmin') Superadmin
    
  .page-header
    .pull-right
      button.btn.btn-primary#btn-new-user(data-toggle='modal' data-target='#create-user')= translate('user.new')
    h1= title

  table.table#users
    thead
      tr 
        th= translate('user.username')
        th= translate('user.role')
        th= translate('user.actions')
    tbody
  
  script.
    var tbody = $('#users tbody');
    var users = [];
    
    var selectedUser = null;
    
    function updateView() {
      tbody.empty();
      users.sort();
      
      users.forEach(function(user, i) {
        var row = $(document.createElement('tr'));
        row.attr('data-id', user._id);
        row.attr('data-index', i);
        
        var role = user.flags.indexOf('superadmin') > -1 
                   ? 'superadmin' 
                   : user.flags.indexOf('admin') > -1
                      ? 'admin'
                      : 'UNKNOWN!';
        
        var td = $(document.createElement('td'));
        td.text(user.username)
        row.append(td);
        
        td = $(document.createElement('td'));
        td.text(role);
        row.append(td);
        
        td = $(document.createElement('td'));
        
        var btn1 = $(document.createElement('button'));
        btn1.addClass('btn btn-danger btn-xs');
        btn1.text('Remove');
        btn1.on('click', function() {
          var modal = $("#remove-user");
          var row = $(this).closest('tr');
          selectedUser = row.attr('data-id');
          $("#c-username").text(users[row.attr('data-index')].username);
          modal.modal('show');
        });
        
        var btn2 = $(document.createElement('button'));
        btn2.addClass('btn btn-default btn-xs');
        btn2.text('Update role');
        btn2.on('click', function() {
          var modal = $("#update-role");
          selectedUser = $(this).closest('tr').attr('data-id');
          $("#c-role").val(role);
          modal.modal('show');
        });
        td.append(btn2);
        td.append(' ');
        td.append(btn1);
        
        row.append(td);
        
        tbody.append(row);
      });
    }
    
    $.get('/api/users', function(data, status, xhr) {
      users = data.users;
      updateView();
    });
    
    $("#update-role .btn-success").on('click', function() {
      $.ajax('/api/user/' + selectedUser, {
        method: 'PUT',
        data: {
          role: $("#c-role").val()
        }
      })
      .done(function(res, status, xhr) {
        $("#update-role").modal('hide');
        var row = $("[data-id='" + selectedUser + "']")
        var i = row.attr('data-index');
        users[i] = res;
        updateView();
        selectedUser = null;
      }).fail(function(xhr, err, msg) {
        alert(msg);
      });
    });
    
    $("#remove-user .btn-danger").on('click', function() {
      $.ajax('/api/user/' + selectedUser, {
        method: 'DELETE'
      })
      .done(function(res, status, xhr) {
        $("#remove-user").modal('hide');
        var row = $("[data-id='" + selectedUser + "']")
        var i = row.attr('data-index');
        users.splice(parseInt(i, 10), 1);
        updateView();
        selectedUser = null;
      }).fail(function(xhr, err, msg) {
        alert(msg);
      });
    });
    
    $("#create-user .btn-success").on('click', function() {
      $.ajax('/api/users', {
        method: 'POST',
        data: {
          username: $("#cu-username").val(),
          password: $("#cu-password").val(),
          role: $("#cu-role").val()
        }
      })
      .done(function(res, status, xhr) {
        $("#create-user").modal('hide');
        console.log(res);
        users.push(res);
        updateView();
        selectedUser = null;
      }).fail(function(xhr, err, msg) {
        alert(msg);
      });
    });
