extend layout
block content
  .page-header
    h1
      = poll.title
      | 
      small
        | (#{poll.slug})
        | 
        if poll.isPublic
          span.label.label-success= __("Public")
        else
          span.label.label-warning= __("Private")
  .well
    a.btn.btn-primary(href="/results/#{poll.slug}")= __("Public Results")
    | 
    a.btn.btn-primary(href='export/results') #{__("Export")} (JSON)
  .row
    .col-md-12
      h2= __("Motions")
      
      table.table
        thead
          tr
            th= __("ID")
            th= __("Threshold")
            th= __("Ayes")
            th= __("Nays")
            th= __("Abstains")
            th= __("Invalids")
            th %
            th= __("Carried?")
        tbody
          each m in results.motions
            tr
              td
                strong= m.id
              td= m.threshold
              td.text-right= m.counts.aye
              td.text-right= m.counts.nay
              td.text-right= m.counts.abstain
              td.text-right= m.counts.invalid
              td.text-right= m.result.percentage
              if m.result.success
                td.success= __("Carried")
              else
                td.danger= __("Lapsed")
      
      h2= __("Elections")
      
      table.table
        thead
          tr
            th= __("Position")
            th= __("Method")
            th= __("Candidates")
            th= __("Winners")
            th= __("Data")
            th= __("Order")
        tbody
          each el in results.elections
            tr
              td= el.id
              td= el.method
              td
                ul
                  each c in el.candidates
                    li= c
              td.text-right= el.winners
              td
                a.btn.btn-primary(role='button', data-toggle='collapse', 
                        data-target='#data-#{el.id.replace(/ /g, "_")}', 
                        href='#data-#{el.id.replace(/ /g, "_")}').
                  Show
                div.collapse(id='data-#{el.id.replace(/ /g, "_")}')
                  pre !{JSON.stringify(el.data, null, 2)}
              td
                ol
                  each c in el.order
                    li= c
