//-
  Oyster, a free voting system.
  Copyright © 2015  Brendan Molloy <brendan@bbqsrc.net>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
extend layout
block content
  .page-header
    h1
      = poll.title
      | 
      small
        | (#{poll.slug})
        | 
        if poll.isPublic
          span.label.label-success= translate('public')
        else
          span.label.label-warning= translate('private')
  .well
    a.btn.btn-primary(href="/results/#{poll.slug}")= translate("results.public")
    | 
    a.btn.btn-primary(href='export/results') #{translate("export")} (JSON)
  .row
    .col-md-12
      h2= translate("results.motions")
      
      table.table
        thead
          tr
            th= translate('results.id')
            th= translate('results.threshold')
            th= translate('results.ayes')
            th= translate('results.nays')
            th= translate('results.abstains')
            th= translate('results.invalids')
            th %
            th= translate('results.isCarried')
        tbody
          each m in results.motions
            tr
              td
                strong= m.id
              td= m.threshold
              td.text-right= m.counts.aye
              td.text-right= m.counts.nay
              td.text-right= m.counts.abstain
              td.text-right= m.counts.invalid
              td.text-right= m.result.percentage
              if m.result.success
                td.success= translate('results.carried')
              else
                td.danger= translate('results.lapsed')
      
      h2= translate('results.elections')
      
      table.table
        thead
          tr
            th= translate("results.position")
            th= translate("results.method")
            th= translate("results.candidates")
            th= translate("results.winners")
            th= translate("results.data")
            th= translate("results.order")
        tbody
          each el in results.elections
            tr
              td= el.id
              td= el.method
              td
                ul
                  each c in el.candidates
                    li= c
              td.text-right= el.winners
              td
                a.btn.btn-primary(role='button', data-toggle='collapse', 
                        data-target='#data-#{el.id.replace(/ /g, "_")}', 
                        href='#data-#{el.id.replace(/ /g, "_")}').
                  Show
                div.collapse(id='data-#{el.id.replace(/ /g, "_")}')
                  pre !{JSON.stringify(el.data, null, 2)}
              td
                ol
                  each c in el.order
                    li= c
