doctype html
html(lang="#{locale}")
  head
    meta(charset='utf-8')
    title
      = title
      |  | Oyster
    <!--[if lt IE 10]>
    <script src="/static/js/es5-shim.min.js"></script>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/bootstrap.min.js")
    link(href="/static/css/bootstrap.min.css", rel="stylesheet")
    link(href="/static/css/admin.css", rel="stylesheet")
    block head

  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-content")
            span.sr-only= __("Toggle navigation")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') Oyster
        #navbar-content.navbar-collapse.collapse
          .navbar-form.navbar-left
            a.btn.btn-primary#btn-new-poll(href='/admin/polls/new')
              span.glyphicon.glyphicon-file
              | 
              = __("New Poll")
          ul.nav.navbar-nav
            li
              a#btn-all-polls(href='/admin/polls')= __("All Polls")
            li
              a#btn-participants(href='/admin/participants')= __("Participants")
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.toggle-dropdown#btn-dropdown-settings(href='#' data-toggle='dropdown')
                span.glyphicon.glyphicon-wrench
                | 
                span.caret
              ul.dropdown-menu
                li.dropdown-header!= __("System Management")
                li
                  a(href='/admin/users')= __("Users")
            li.dropdown
              a.toggle-dropdown#btn-dropdown-user(href='#' data-toggle='dropdown')
                span.glyphicon.glyphicon-user
                | 
                span.caret
              ul.dropdown-menu#dropdown-user
                li.dropdown-header!= __("Logged in as %s", "<strong>" + user.username + "</strong>")
                li.divider(role='separator')
                li
                  a#btn-change-password(href='/admin/change-password')= __("Change password")
                li
                  a#btn-change-language(href='/admin/change-language')= __("Change language")
                li.divider(role='separator')
                li
                  a#btn-logout(href='/admin/logout') 
                    span.glyphicon.glyphicon-log-out
                    | 
                    = __("Log out")
    .container
      block content
